<script>
var DEEZER_APP_ID = 190482;
var DEEZER_CHANNEL_URL = window.location.href.substr(0, window.location.href.indexOf("/", 10)) + "/html/channel.html";
var SOUNDCLOUD_CLIENT_ID = "eb257e698774349c22b0b727df0238ad";
var YOUTUBE_API_KEY = "AIzaSyADm2ekf-_KONB3cSGm1fnuPSXx3br4fvI";
var JAMENDO_CLIENT_ID = "2c9a11b9";
</script>
<script src="{{ '/js/ui.js?1.1.1' | url }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ '/js/swfobject.js?1.1.1' | url }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ '/js/playem-min.js?1.1.1' | url }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ '/js/playem-youtube-iframe-patch.js?1.1.1' | url }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ '/js/whydPlayer.js?1.1.1' | url }}" type="text/javascript" charset="utf-8"></script>
